<% @page_title_icon_class = "fa fa-home" %>
<% @page_title = "Dashboard" %>

<div style="margin-right:15%; margin-left:15%;">
	<div class="tiles" >
				<div class="tile double-down bg-purple">
					<a class="action_link" data-toggle="modal" href="#small">
					<div class="tile-body">
						<i class="fa fa-bell-o"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Notifications
						</div>
						<div class="number">
							 6
						</div>
					</div>
					</a>
				</div>
				<div class="tile bg-green">
					<a href="/appointment" class="action_link">
					<div class="tile-body">
						<i class="fa fa-calendar"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Appointments
						</div>
						<div class="number">
							 <% if session[:role] == "Doctor" %>
							 	<%= @appointments_doc_dash.count %>
							 <% else %>
							 	<%= @appointments_dash %>
							 <% end %>
						</div>
					</div>
					</a>
				</div>
				<div class="tile selected bg-red">
					<a href="/patient" class="action_link">
					<div class="corner">
					</div>
					<div class="tile-body">
						<i class="fa fa-users"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Patients
						</div>
						<div class="number">
							 <%= @patient_dash %>
						</div>
					</div>
					</a>
				</div>
				<div class="tile double selected bg-blue">
					<a href="/bedallotment" class="action_link">
					<div class="corne">
					</div>
					<div class="chec">
					</div>
					<div class="tile-body">
						<i class="fa fa-exchange"></i>
						
					</div>
					<div class="tile-object">
						<div class="name">
							Alloted Beds
						</div>
						<div class="number">
							 <%= @bed_allotment_dash %>
						</div>
					</div>
					</a>
				</div>
				
				
				<div class="tile bg-purple">
					<a href="/bed" class="action_link">
					<div class="tile-body">
						<i class="fa fa-hdd-o"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Beds
						</div>
						<div class="number">
							 <%= @bed_dash %>
						</div>
					</div>
				</a>
				</div>
								
				<div class="tile double bg-dark">
					<a class="action_link" data-toggle="modal" href="#large">
					<div class="tile-body double">
						<i class="fa fa-trash-o"></i>
						
					</div>
					<div class="tile-object">
						<div class="name">
							 Cancelled appointments
						</div>
						<div class="number">
							 <% if session[:role] == "Doctor" %>
							 	<%= @appointments_doc_cancelled %>
							 <% else %>
							 	<%= @appointments_cancelled.count %>
							 <% end %>
							 
						</div>
					</div>
					</a>
				</div>
				<div class="tile bg-green">
				 	<a href="/report" class="action_link">
					<div class="tile-body">
						<i class="fa fa-bar-chart-o"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Reports
						</div>
						<div class="number">
							<%  %>
						</div>
					</div>
					</a>
				</div>
				<div class="tile bg-yellow" >
					<a href="/profile" class="action_link">
					<div class="tile-body">
						<i class="fa fa-cogs"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Profile settings
						</div>
						<div class="number">
							 
						</div>
					</div>
					</a>
				</div>
				<div class="tile bg-blue">
					<div class="tile-body">
						<i class="fa fa-lock"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							Lock Screen
						</div>
						<div class="number">
							 
						</div>
					</div>
				</div>
				
			</div>
	</div>

	<div class="modal fade bs-modal-sm" id="small" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Modal Title</h4>
										</div>
										<div class="modal-body">
											 Modal body goes here
											 
											 
										</div>
										<div class="modal-footer">
											<button type="button" class="btn default" data-dismiss="modal">Close</button>
											
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->




<div class="modal fade bs-modal-sm" id="large" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title"><strong>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/electrical_sensor2.png" alt=""/> SENSE</strong></h4>
								</div>
								<div class="modal-body">


												<!-- BEGIN SAMPLE FORM PORTLET-->
							<div class="portlet box  ">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-reorder"></i> Cancelled Appointments
									</div>
									
								</div>
								<div class="portlet-body form">
									
								<table class="table table-striped table-bordered table-hover" id="sample_2">
							<thead>
							<tr>
								<th class="table-checkbox">
									<input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"/>
								</th>
								<th>
									Patient 
								</th>
								<th>
									 Doctor
								</th>
								<th>
									 Type
								</th>
								<th>
									 Date
								</th>
								<th>
									 Start Time
								</th>
								<th>
									 End Time
								</th>
								<th>
									 Actions
								</th>
							</tr>
							</thead>
							<tbody>
								<% @appointments_cancelled.each do |appointment| %>
							      <%# Render table row partial for each person object %>
							      <tr class="odd gradeX">
										<td>
											<input type="checkbox" class="checkboxes" value="1"/>
										</td>
										<td>
											<%= appointment.patient.name %>
										</td>
										<td>
											<%= appointment.doctor.name %>
										</td>
										<td>
											<%= appointment.title %>
										</td>
										<td>
											<%= appointment.date.strftime("%d %b. %Y, %A") %>
										</td>
										<td>
											<%= appointment.start.strftime("%I:%M %p") %>
										</td>
										<td>
											<%= appointment.end.strftime("%I:%M %p") %>
										</td>
										<td>
										<% link_to({:action => 'show', :id => appointment.id}, :class => 'btn default btn-xs default') do %>
										<i class=""></i> More... 
										<% end %>

										<%= link_to({:action => 'edit', :id => appointment.id}, :class => 'btn default btn-xs blue') do %>
										<i class="fa fa-edit"></i> Edit 
										<% end %>

										<% link_to({:action => 'delete', :id => appointment.id, :p_id => appointment.patient.id}, :class => 'btn default btn-xs red') do %>
										<i class="fa fa-trash-o"></i> Delete 
										<% end %>

										<%= link_to url_for(:action => 'destroy', :id => appointment.id, :p_id => appointment.patient.id), data: {confirm: "Are you sure you want to delete this appointment?"}, :class => 'btn default btn-xs red' do %>
										<i class="fa fa-times-circle"></i> Cancel 
										<% end %>

										</td>
									</tr>
							    <% end %>
							</tbody>
							</table>

								</div>
							</div>
							<!-- END SAMPLE FORM PORTLET-->

								</div>
												<div class="modal-footer">
													<button type="button" class="btn default" data-dismiss="modal">Close</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
							<!-- /.modal -->




					