<tr class="odd gradeX">
	<td>
		<input type="checkbox" class="checkboxes" value="1"/>
	</td>
	<td>
		<%= appointment.patient.name %>
	</td>
	<td>
		<%= appointment.doctor.name %>
	</td>
	<td>
		<%= appointment.title %>
	</td>
	<td>
		<%= appointment.date.strftime("%d %b. %Y, %A") %>
	</td>
	<td>
		<%= appointment.start.strftime("%I:%M %p") %>
	</td>
	<td>
		<%= appointment.end.strftime("%I:%M %p") %>
	</td>
	<td>
	<%= link_to({:action => 'show', :id => appointment.id}, :class => 'btn default btn-xs default') do %>
	<i class=""></i> More... 
	<% end %>

	<%= link_to({:action => 'edit', :id => appointment.id}, :class => 'btn default btn-xs blue') do %>
	<i class="fa fa-edit"></i> Edit 
	<% end %>

	<% link_to({:action => 'delete', :id => appointment.id, :p_id => appointment.patient.id}, :class => 'btn default btn-xs red') do %>
	<i class="fa fa-trash-o"></i> Delete 
	<% end %>

	<%= link_to url_for(:action => 'cancel', :id => appointment.id, :p_id => appointment.patient.id), data: {confirm: "Are you sure you want to cancel this appointment?"}, :class => 'btn default btn-xs red' do %>
	<i class="fa fa-times-circle"></i> Cancel 
	<% end %>

	</td>
</tr>