<h1>Patient#hello</h1>
<p>Find me in app/views/patient/index.html.erb</p>


<%= stylesheet_link_tag('font-awesome.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('bootstrap.min.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('uniform.default.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>

<%= stylesheet_link_tag('select2.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('select2-metronic.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('bootstrap-wysihtml5.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('DT_bootstrap.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('datepicker.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('bootstrap-timepicker.min.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%# stylesheet_link_tag('datetimepicker.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('jquery.gritter.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('daterangepicker-bs3.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('fullcalendar.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('bootstrap-select.min.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('multi-select.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>



<%= stylesheet_link_tag('style-metronic.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('style.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('style-responsive.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('plugins.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('tasks.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('default.css', :media => 'all', :type => 'text/css', "data-turbolinks-track" => true) %>
<%= stylesheet_link_tag('print.css', :media => 'print', :type => 'text/css', "data-turbolinks-track" => true) %>
