<% @page_title_icon_class = "fa fa-hdd-o" %>
<% @page_title = "Bed" %>

<!-- END STYLE CUSTOMIZER -->
			<div class="tab-pane " id="tab_3">
								<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-reorder"></i>View Bed
										</div>
										<div class="tools">
											<a href="javascript:;" class="collapse">
											</a>
											<a href="javascript:;" class="reload">
											</a>
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form class="form-horizontal" role="form">
											<div class="form-body">
												<h2 class="margin-bottom-20"> Details </h2>
												
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Bed Number:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<% if @bed.wardtype.split.size > 1 %>
																		<% if @bed.wardtype.split.size == 2 %>
																			<%= @bed.wardtype.split.first.first.upcase + @bed.wardtype.split.second.first.upcase + 0.to_s + @bed.bednumber.to_s %>
																		<% elsif @bed.wardtype.split.size > 2 %>
																			<%= @bed.wardtype.split.first.first.upcase + @bed.wardtype.split.second.first.upcase + @bed.wardtype.split.third.first.upcase + 0.to_s + @bed.bednumber.to_s %>
																		<% end %>
																	<% else %>
																		<%= @bed.wardtype[0].upcase + @bed.wardtype[1].upcase + 0.to_s + @bed.bednumber.to_s %>
																	<% end %>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Ward Type</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%= @bed.wardtype %>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Daily Rate:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%= number_to_currency(@bed.dailyrate, unit: "£", precision: 2) %> 
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Deposit:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 <%= number_to_currency(@bed.deposit, unit: "£", precision: 2) %>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->

												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Description:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 <%= @bed.description %>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Status:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%= @bed.status %> 
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
						
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Last updated at:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 <%= @bed.updated_at %>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">Created at:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 <%= @bed.created_at %>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
																								
											<div class="form-actions fluid">
												<div class="row">
													<div class="col-md-6">
														<div class="col-md-offset-3 col-md-9">
															<%= link_to("Done", {:action => 'index'}, :class => 'btn default') %>
														</div>
													</div>
													<div class="col-md-6">
													</div>
												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>
							</div>

							

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->